---
import MainLayout from "../layouts/main.astro";
import Button from "../components/Button.svelte";
import * as README from "../../README.md";

// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout
  content={{
    title: "Astro + Svelte + Tailwind",
    description:
      "Astro Starter Template with Svelte, Tailwind, DaisyUI, and Service Worker",
  }}
>
  <div>
    <!-- https://docs.astro.build/en/reference/directives-reference -->
    <Button text="Count" client:idle>Svelte Button in Astro!</Button>
  </div>
  <article class="prose max-w-none">
    <README.Content />
  </article>
</MainLayout>
