---
import SunMoon from "./SunMoon.astro";
---

<div class="navbar w-full">
  <div class="navbar-start">
    <SunMoon />
  </div>
  <div class="navbar-center text-xl font-bold">Astro Svelte Tailwind</div>
  <div class="navbar-end"></div>
</div>
