---
import Github from "./Github.astro";
import SunMoon from "./SunMoon.astro";
---

<div class="navbar w-full">
  <div class="navbar-start">
    <SunMoon />
  </div>
  <div class="navbar-center text-xl font-bold">Astro Svelte Tailwind</div>
  <div class="navbar-end">
    <a
      aria-label="Github"
      href="https://github.com/ntsd/astro-svelte-tailwind"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-ghost drawer-button btn-square normal-case"
    >
      <Github />
    </a>
  </div>
</div>
