---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Navbar />
      <div
        class="flex-grow container mx-auto flex flex-col justify-items-center py-8 px-4 gap-8"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
